force-app/main/default/flows/Contact_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Name_Assignment</name>
        <label>Name Assignment</label>
        <locationX>1193</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>insertRelatedAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertRelatedAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContacttoInsert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>new_account_creation</name>
        <label>new account creation?</label>
        <locationX>970</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Contact_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>do not create new account</defaultConnectorLabel>
        <rules>
            <name>create_new_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create_a_related_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Creation</targetReference>
            </connector>
            <label>create new account</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_new_Contact</name>
        <label>create new Contact</label>
        <locationX>765</locationX>
        <locationY>114</locationY>
        <connector>
            <targetReference>new_account_creation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>ContacttoInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_Account</name>
        <label>New Account</label>
        <locationX>1159</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Contact_and_Account_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>insertRelatedAccount</inputReference>
    </recordCreates>
    <screens>
        <name>Account_Creation</name>
        <label>Account Creation</label>
        <locationX>1205</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Name_Assignment</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accountAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Shipping Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>insertRelatedAccount.ShippingAddress</assignToReference>
                <name>addressLabel</name>
            </outputParameters>
        </fields>
        <fields>
            <name>billingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>insertRelatedAccount.BillingAddress</assignToReference>
                <name>addressLabel</name>
            </outputParameters>
        </fields>
        <fields>
            <name>numberofEmployees</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>insertRelatedAccount.NumberOfEmployees</elementReference>
            </defaultValue>
            <fieldText>Number of Employees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>accountWebsite</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Website</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>insertRelatedAccount.Website</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_and_Account_Created</name>
        <label>Contact and Account Created</label>
        <locationX>1389</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactCreated</name>
            <fieldText>&lt;p&gt;The contact you entered, {!ContacttoInsert.FirstName} {!ContacttoInsert.LastName}, has been created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountCreated</name>
            <fieldText>&lt;p&gt;The account you entered, {!insertRelatedAccount.Name} , has been created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Created</name>
        <label>Contact Created</label>
        <locationX>1059</locationX>
        <locationY>22</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OnlyContactCreation</name>
            <fieldText>&lt;p&gt;The contact you entered, {!ContacttoInsert.FirstName} {!ContacttoInsert.LastName} , has been created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Name</name>
        <label>Contact Name</label>
        <locationX>599</locationX>
        <locationY>111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_new_Contact</targetReference>
        </connector>
        <fields>
            <name>Fullname</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContacttoInsert.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContacttoInsert.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>MailingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContacttoInsert.MailingAddress</assignToReference>
                <name>addressLabel</name>
            </outputParameters>
        </fields>
        <fields>
            <name>contactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContacttoInsert.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>create_a_related_Account</name>
            <dataType>Boolean</dataType>
            <fieldText>create a related Account?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>766</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>129</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Contact_Name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContacttoInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>insertRelatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
