force-app/main/default/flows/Create_Contact_w_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Account_Name_Assignment</name>
        <label>Account Name Assignment</label>
        <locationX>1101</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>insertAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_Relation</name>
        <label>Account Relation</label>
        <locationX>1348</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>insertContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insertAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_and_Contact_Created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Exist</name>
        <label>Contact Exist?</label>
        <locationX>648</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>Create_Account_Optionally</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Already_Exists</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Account_Optionally</name>
        <label>Create Account Optionally</label>
        <locationX>888</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only Create Contact</defaultConnectorLabel>
        <rules>
            <name>Create_Account_and_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Name_Assignment</targetReference>
            </connector>
            <label>Create Account and Contact</label>
        </rules>
    </decisions>
    <interviewLabel>Create Contact w/ Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact w/ Account 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>1219</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Create_Contact_With_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>insertAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1004</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>Contact_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>insertContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_With_Account</name>
        <label>Create Contact With Account</label>
        <locationX>1229</locationX>
        <locationY>97</locationY>
        <connector>
            <targetReference>Account_Relation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>insertContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>643</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>insertContact.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>insertContact.LastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>OldContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Account_and_Contact_Created</name>
        <label>Account and Contact Created</label>
        <locationX>1462</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountAndContactCreatedMessage</name>
            <fieldText>&lt;p&gt;The contact you have e{!insertContact.LastName}tered, {!insertContact.FirstName} has been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The account you have associated with your contact, {!insertAccount.Name} has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Already_Exists</name>
        <label>Contact Already Exists</label>
        <locationX>430</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Creation</targetReference>
        </connector>
        <fields>
            <name>ExistsMessage</name>
            <fieldText>&lt;p&gt;The contact you have entered is already exists, enter a new contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Created</name>
        <label>Contact Created</label>
        <locationX>771</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactCreatedMessage</name>
            <fieldText>&lt;p&gt;The contact you have entered, {!insertContact.FirstName} {!insertContact.LastName} has been created. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Creation</name>
        <label>Contact Creation</label>
        <locationX>429</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>FullName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>insertContact.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>insertContact.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>OptionalText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Optionally below, you can create a related account by filling out Account Name, Phone, and Address. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>insertAccount.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ShippingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>insertAccount.ShippingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>insertAccount.ShippingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>insertAccount.ShippingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>insertAccount.ShippingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>insertAccount.ShippingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>885</locationX>
        <locationY>95</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>87</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact_Creation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>insertAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>insertContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OldContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
